[TELEGRAM]
API_TOKEN = YOUR_TELEGRAM_API_TOKEN
CHAT_IDS = CHANNEL_ID_1,CHANNEL_ID_2

[METATRADER5]
LOGIN = YOUR_MT5_LOGIN
PASSWORD = YOUR_MT5_PASSWORD
SERVER = YOUR_MT5_SERVER

[DATABASE]
TYPE = sqlite
PATH = trading_app.db
